<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="cybi">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="./../assets/style.css">
	<link rel="icon" href="./../assets/favicon.ico" type="image/x-icon">
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<header>
				<h1>NoHacker Blog</h1>
				<p>How not to be a hacker</p>
			</header>
			<nav>
				<ul>
					<li><a href="./../index.html">Home</a></li>
					<li><a href="./../about.html">About</a></li>
				</ul>
			</nav>
			<main>
				<article>
					<h2>{{ page.title }}</h2>
					<p>Published on {{ page.date }} by {{ page.author }}</p>
					{{ content }}
				</article>
			</main>
		</div>
		<footer>
			<p>&copy; 2024 Stefan Goidescu. All rights reserved.</p>
		</footer>
	</div>
</body>

</html>
